# Python.gitignore
*.py[cod]
*__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.coverage
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Pytest
.cache/
.pytest_cache/

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/
*.code-workspace

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Databases
*.db
*.sql
*.sqlite

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk